[access]
	inheritFrom = All-Projects
[project]
	description = A lua plugin to integrate AAF with MSB, which provides centralized auth features at the API Gateway.\n\nMoved to read-only as per RELENG-3648
	state = read only
[access "refs/*"]
	read = group GitHub Replication
	owner = group saml/onap-gerrit-aaf-luaplugin-committers
[plugin "its-jira"]
	enabled = true
